extends ../layout

block content
    h1.
        Todo ID #{todo._id}
    form(action='/todos/#{todo._id}/edit',method='post',name='updatetodo',enctype='application/x-www-form-urlencoded')
        p Content: 
            input#inputContent(type='text', value='#{todo.content}', name='content')
        p DOB: 
            input#inputDob(type='date', value='#{tododob}', name='dob')
        p Completed?: 
            input#inputCompleted(type='checkbox', name='completed', checked=('#{todo.completed}'=== 'true' ? "checked" : undefined))
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update